.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
 /* background-color: yellow;*/
	margin-right: auto;
	/*margin-left: auto;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 34;
	color: white;
	text-align: right;
}

.SideText {
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: lighter;
	letter-spacing: 1px;
	/*font-family:'Helvetica-Light', Arial, sans-serif;
	font-weight: 1;*/
	font-size: 25;
	text-align: right;
}
.SideText:hover {
	cursor: pointer;
	color:#edb315
}
